a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

a.active {
  color: #65218c;
  background-color: #b672de;
  padding: 4px;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 10px 15px -3px rgb(0, 0, 0);
}

.logo,
.profile-image {
  min-height: 40px; /* Altura mínima */
  min-width: 40px; /* Ancho mínimo */
}
