<nav class=" border-gray-200 bg-Dykan-pri-500">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a routerLink="/home" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="Logo.png" class="h-8 rotate-6" alt="Flowbite Logo" />
        </a>
        <div class="flex md:order-2">
            <button type="button" id="menu-button" (click)="toggleMenu()"
                class="md:hidden text-gray-400 hover:bg-gray-700 rounded-lg text-sm p-2.5 me-1 transition-transform transform hover:scale-105 active:scale-95 active:shadow-inner">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
                <span class="sr-only">Search</span>
            </button>
            <div class="relative hidden md:block transition-transform transform hover:scale-105">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                    <span class="sr-only">Search icon</span>
                </div>
                <input type="text" id="search-navbar"
                    class="block w-full p-2 ps-10 text-sm border rounded-lg focus:border-Dykan-pri-100 focus:ring-Dykan-pri-100 bg-gray-700 placeholder-gray-400 text-white "
                    placeholder="Search...">
            </div>
            <button type="button" id="menu-button" (click)="toggleMenu()"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden text-gray-400 hover:bg-gray-700 ">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
            <button id="profile-butto"
                class="px-1 flex items-center space-x-2 focus:outline-none profile-image focus:ring-Dykan-pri-100 rounded-fulltransition-transform transform hover:scale-105 active:scale-95 active:shadow-inner"
                (click)="toggleProfileMenu()">
                <img src="profile-circle.png" alt="Profile"
                    class="h-10 w-10 rounded-full hover:ring-2 hover:ring-Dykan-pri-100">
            </button>
            <!-- dropdown menu -->
            <ul [ngClass]="{'opacity-100 translate-y-0 visible': isProfileMenuOpen(), 'opacity-0 -translate-y-2 invisible': !isProfileMenuOpen()}"
                class="z-50 absolute right-0 md:right-auto md:ml-[10%] mt-12 w-48 bg-Dykan-pri-500 rounded-md shadow-lg py-2 text-white transition-all duration-300  ease-in-out opacity-0 invisible transform -translate-y-2">
                <li><a routerLink="/home"
                        class="block px-4 py-2 hover:bg-gray-300 hover:text-Dykan-pri-500 transition-transform transform hover:scale-105 active:scale-95 active:shadow-inner">Profile</a>
                </li>
                <li><a routerLink="/library"
                        class="block px-4 py-2 hover:bg-gray-300 hover:text-Dykan-pri-500 transition-transform transform hover:scale-105 active:scale-95 active:shadow-inner">Configuration</a>
                </li>
                <li><a href="#"
                        class="block px-4 py-2 hover:bg-gray-300 hover:text-Dykan-pri-500 transition-transform transform hover:scale-105 active:scale-95 active:shadow-inner">Favorite</a>
                </li>
                <li><a href="#"
                        class="block px-4 py-2 hover:bg-gray-300 hover:text-Dykan-pri-500 transition-transform transform hover:scale-105 active:scale-95 active:shadow-inner">Log
                        out</a>
                </li>
            </ul>
        </div>
        <div id="menu"
            [ngClass]="{'opacity-100 max-h-fit transform translate-y-0 visible': isMenuOpen(), 'opacity-0 max-h-0 transform -translate-y-4 invisible ': !isMenuOpen()}"
            class="transition-all duration-500 ease-in-out overflow-hidden items-center justify-between invisible opacity-0 w-full md:overflow-visible md:translate-y-0 md:flex md:opacity-100 md:visible md:w-auto md:order-1">
            <div class="relative mt-3 md:hidden">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <input type="text" id="search-navbar"
                    class="block w-full p-2 ps-10 text-sm border rounded-lg focus:ring-Dykan-pri-100 bg-gray-700 border-dyring-Dykan-pri-100 placeholder-gray-400 text-white focus:border-Dykan-pri-100"
                    placeholder="Search...">
            </div>
            <ul
                class="flex flex-col p-4 md:p-0 mt-4 font-medium border rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 bg-Dykan-pri-600 md:bg-Dykan-pri-500 border-Dykan-pri-100">
                <li>
                    <a routerLink="/home"
                        [ngClass]="{'active': isActive('/home'), 'hover:text-Dykan-pri-500 hover:bg-Dykan-pri-50 p-1 rounded-sm hover:shadow-lg hover:shadow-black transition-transform transform hover:scale-105 active:scale-95 active:shadow-inner mb-2 md:mb-0': !isActive('/home')}"
                        class="block">Home</a>
                </li>
                <li>
                    <a routerLink="/library"
                        [ngClass]="{'active': isActive('/library'), 'hover:text-Dykan-pri-500 hover:bg-Dykan-pri-50 p-1 rounded-sm hover:shadow-lg hover:shadow-black transition-transform transform hover:scale-105 active:scale-95 active:shadow-inner mb-2 md:mb-0': !isActive('/library')}"
                        class="block">Library</a>
                </li>
                <li>
                    <a routerLink="/favorite"
                        [ngClass]="{'active': isActive('/favorite'), 'hover:text-Dykan-pri-500 hover:bg-Dykan-pri-50 p-1 rounded-sm hover:shadow-lg hover:shadow-black transition-transform transform hover:scale-105 active:scale-95 active:shadow-inner mb-2 md:mb-0': !isActive('/favorite')}"
                        class="block">Favorite</a>
                </li>
            </ul>
        </div>
    </div>
</nav>