@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", ui-sans-serif;
}
body {
  background-color: #202124;
}

/* Scrollbar para navegadores WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px; /* Ancho de la scrollbar */
  height: 8px; /* Alto de la scrollbar para scroll horizontal */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.34); /* Color del pulgar (thumb) */
  border-radius: 4px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.666); /* Color en hover */
}

::-webkit-scrollbar-track {
  background-color: #202124; /* Fondo del track (pista) */
}

::-webkit-scrollbar-button {
  display: none;
}
